@model ReservationProject.DATA.EF.Reservation

@{
    ViewBag.Title = Model.OwnerAsset.ChildName + " Reservation";
}



<div id="form-container">
    <h3>@ViewBag.Title</h3>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ReservationDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReservationDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Location.LocationName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Location.LocationName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OwnerAsset.ChildName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OwnerAsset.ChildName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ReservationId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
