<!DOCTYPE HTML>

<html>
<head>
    <title>Skate Camp Reservations | @ViewBag.Title</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="~/Content/assets/css/main.css" />
</head>
<body>

    <!-- Header -->
    <header id="header" class="alt">
        <div class="logo"><a href="index.html">Urban <span>by TEMPLATED</span></a></div>
        <a href="#menu">Menu</a>
    </header>

    <!-- Nav -->
    <nav id="menu">
        <ul class="links">
            <li><a href="@Url.Action("Index", "Home")">Home</a></li>
            <li><a href="@Url.Action("Index", "Locations")">Locations</a></li>
            <li><a href="@Url.Action("Index", "OwnerAssets")">Owner Assets</a></li>
            <li><a href="@Url.Action("Index", "Reservations")">Reservations</a></li>
            <li><a href="@Url.Action("Index", "UserDetails")">User Details</a></li>
        </ul>
    </nav>

    

    <!-- Main -->
    
    @RenderBody()
    <!-- Footer -->
    <footer id="footer">
        <div class="copyright">
            <ul class="icons">
                <li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
                <li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
                <li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
                <li><a href="#" class="icon fa-snapchat"><span class="label">Snapchat</span></a></li>
            </ul>
            <p>&copy; @DateTime.Now.Year Skate Camp Reservation</p>
        </div>
    </footer>

    <!-- Scripts -->
    <script src="~/Content/assets/js/jquery.min.js"></script>
    <script src="~/Content/assets/js/jquery.scrolly.min.js"></script>
    <script src="~/Content/assets/js/jquery.scrollex.min.js"></script>
    <script src="~/Content/assets/js/skel.min.js"></script>
    <script src="~/Content/assets/js/util.js"></script>
    <script src="~/Content/assets/js/main.js"></script>
    @RenderSection("scripts", required:false)

</body>
</html>