<!DOCTYPE HTML>

<html>
<head>
    <title>Kansas City Skate Camp  | @ViewBag.Title</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link href="//cdn.datatables.net/1.10.21/css/jquery.dataTables.min.css" rel="stylesheet" />
    <link href="~/Content/assets/css/lity.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/Content/assets/css/main.css" />
    <link href="~/Content/assets/css/custom.css" rel="stylesheet" />

</head>
<body>

    <!-- Header -->
    <header id="header" class="alt">
        <div class="logo"><h2>Kansas City Skate Camps</h2> </div>
        <a href="#menu">Menu</a>
    </header>

    <!-- Nav -->
    <nav id="menu">
        <ul class="links">
            <li><a href="@Url.Action("Index", "Home")">Home</a></li>
            <li><a href="@Url.Action("Index", "Locations")">Locations</a></li>
            <li><a href="@Url.Action("Index", "OwnerAssets")">Owner Assets</a></li>
            <li><a href="@Url.Action("Index", "Reservations")">Reservations</a></li>
            <li><a href="@Url.Action("Contact", "Home")">Contact</a></li>
            @if (User.IsInRole("Admin") || (User.IsInRole("User")))
            {
                <li><a href="@Url.Action("Index", "UserDetails")">User Details</a></li>
            }
            @if (User.IsInRole("Admin"))
            {

                <li><a href="@Url.Action("Index", "RolesAdmin")">Roles Admin</a></li>
                <li><a href="@Url.Action("Index", "UsersAdmin")">Users Admin</a></li>
            }
            @Html.Partial("_LoginPartial")


        </ul>
    </nav>

    <br />
    <br />
    <br />

    <!-- Main -->
    <main>
        @RenderBody()
    </main>

    <!-- Footer -->
    <footer id="footer">
        <div class="copyright">
            <p>&copy; @DateTime.Now.Year Kansas City Skate Camps</p>
        </div>
    </footer>

    <!-- Scripts -->
    <script src="~/Content/assets/js/jquery.min.js"></script>
    <script src="~/Content/assets/js/jquery.scrolly.min.js"></script>
    <script src="~/Content/assets/js/jquery.scrollex.min.js"></script>
    <script src="~/Content/assets/js/skel.min.js"></script>
    <script src="~/Content/assets/js/util.js"></script>
    <script src="~/Content/assets/js/main.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="//cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="~/Content/assets/js/lity.js"></script>
    <script>
        $(function () {
            $(".datepicker").datepicker({ changeYear: true, yearRange: '2000:2021' });
        });

        $(function () {
            $("#dialog").dialog({
                autoOpen: false,
                show: {
                    effect: "blind",
                    duration: 1000
                },
                hide: {
                    effect: "explode",
                    duration: 1000
                }
            });

            $("#opener").on("click", function () {
                $("#dialog").dialog("open");
            });
        });
    </script>
    @RenderSection("scripts", required: false)

</body>
</html>