@model IEnumerable<ReservationProject.DATA.EF.OwnerAsset>

@{
    ViewBag.Title = "Owner Assets";
}

<h2>@ViewBag.Title</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ChildName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ChildPhoto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SpecialNotes)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsActive)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateAdded)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ChildDOB)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SkillLevel)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserDetail.Parent)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ChildName)
        </td>
        <td>
            <img src="~/Content/images/@item.ChildPhoto" alt="@item.ChildName" style="max-width:100px;"/>
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SpecialNotes)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsActive)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateAdded)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ChildDOB)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SkillLevel)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UserDetail.Parent)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.OwnerAssetId }) |
            @Html.ActionLink("Details", "Details", new { id=item.OwnerAssetId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.OwnerAssetId })
        </td>
    </tr>
}

</table>
